body {
    margin: 0;
}

.container {
    margin: 15px;
}

/***********************************/

.img-responsive {
    max-width: 100%;
    height: auto;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

/***********************************/

.section {
    position: relative;
    padding: 80px;
}

.fade-effect-section {
    background-color: #ffd9d9;
}

.flip-effect-section {
    background-color: #88b889;
}

.door-effect-section {
    background-color: #faf7bb;
}

.card {
    position: relative;
    width: 312px;
    height: 312px;
    margin: 0 auto;
}

.card img {
    border: solid 15px white;
    top: -15px;
    left: -15px;
}

/***********************************/

.fade-effect img {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.fade-effect img.front {
    opacity: 1;
}

.fade-effect.active img.front,
.no-touch .fade-effect:hover img.front {
    opacity: 0;
}

.fade-effect img.back {
    opacity: 0;
}

.fade-effect.active img.back,
.no-touch .fade-effect:hover img.back {
    opacity: 1;
}

/***********************************/

.flip-effect img {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.flip-effect img.front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-effect.active img.front,
.no-touch .flip-effect:hover img.front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-effect img.back {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-effect.active img.back,
.no-touch .flip-effect:hover img.back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/***********************************/

.door-effect {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.door-effect img {
    position: absolute;
    -ms-transform-origin: 0 50%;
    -webkit-transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0 50%;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
}

.door-effect img.front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 999 !important;
}

.door-effect.active img.front,
.no-touch .door-effect:hover img.front {
    -ms-transform: rotateY(-115deg);
    -webkit-transform: rotateY(-115deg);
    transform: rotateY(-115deg);
}

/***********************************/

footer {
    font-family: "Verdana", Arial, serif;
    font-size: 0.9em;
    text-align: center;
    padding: 30px 5px 30px 5px;
    margin-right: auto;
    margin-left: auto;
}

/***********************************/

@media screen and (max-width: 767px) {
    .container {
        margin: 10px;
    }

    .card {
        width: 212px;
        height: 212px;
    }

    .card img {
        border: solid 10px white;
        top: -10px;
        left: -10px;
    }

    .section {
        padding: 30px 20px 30px 20px;
    }
}