.img-responsive {
    max-width: 100%;
    height: auto;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

/***********************************/

.section {
    position: relative;
    padding: 60px;
}

.fade-effect-section {
    background-color: #ffd9d9;
}

.flip-effect-section {
    background-color: #88b889;
}

.door-effect-section {
    background-color: #faf7bb;
}

.card {
    position: relative;
    width: 312px;
    height: 312px;
    margin: 0 auto;
}

/***********************************/

.fade-effect img {
    position: absolute;
    border: solid 1px white;
    transition: opacity 1s ease-in-out;
}

.fade-effect img.front:hover {
    opacity: 0;
}

.fade-effect img.front {
    opacity: 1;
}

.fade-effect img.back {
    opacity: 0;
}

.fade-effect img.back:hover {
    opacity: 1;
}

/***********************************/

.flip-effect img {
    position: absolute;
    border: solid 1px white;
    backface-visibility: hidden;
    transition: transform 1s;
}

.flip-effect img.front {
    transform: rotateY(0deg);
}

.flip-effect:hover img.front {
    transform: rotateY(-180deg);
}

.flip-effect img.back {
    transform: rotateY(-180deg);
}

.flip-effect:hover img.back {
    transform: rotateY(0deg);
}

/***********************************/

.door-effect {
    perspective: 1200px;
}

.door-effect img {
    position: absolute;
    border: solid 1px white;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
}

.door-effect img.front {
    transform: rotateY(0deg);
    z-index: 999 !important;
}

.door-effect:hover img.front {
    transform: rotateY(-115deg);
}

/***********************************/

footer {
    font-family: "Verdana", Arial, serif;
    font-size: 0.9em;
    text-align: center;
    padding: 30px 5px 20px 5px;
    margin-right: auto;
    margin-left: auto;
}

/***********************************/

@media screen and (max-width: 767px) {
    .card {
        width: 212px;
        height: 212px;
    }

    .section {
        padding: 20px;
    }
}